@using store1.Models;
@model List<store1.Models.MViews.CustomerProductViewModel>

@{
    ViewData["Title"] = "CustomerIndex";
    var errorMessage = ViewData["errorMessage"]?.ToString();

}
@Model List<CustomerProductModel>

    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger">
            <strong>Error! : </strong>@errorMessage
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    
    <div>
        <button type="button" id="Add" data-toggle="modal" data-url='@Url.Action("mpcreate")' data-target="#addCustomerPrdouct" class="btn btn-primary">Add Customer</button>
    </div>
    <table class="table table-responsive table-hover" id="CustomerProductTable">
        <thead>
            <tr>
                <th>id</th>
                <th>CustomerId</th>
                <th>ProductId</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var customerP in Model)
                {
                    <tr>
                        <td>@customerP.Id</td>
                        <td>@customerP.CustomerId</td>
                        <td>@customerP.ProductId</td>
                        <td>
                            <form>
                               <div class="btn-group btn-group-sm">
                                <button asp-action="Details" asp-controller="CustomerProduct" asp-route-id="@customerP.Id" class="btn btn-primary">Details</button>


                                </div>
                                <div class="btn-group btn-group-sm">
                                    <button asp-action="Edit" asp-controller="CustomerProduct" asp-route-id="@customerP.Id" class="btn btn-primary">Edit</button>


                                </div>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" id="Add" data-toggle="modal" data-url='@Url.Action($"QuickEdit{customerP.Id}")' data-target="#addCustomerPrdouct" class="btn btn-primary">Add Customer</button>


                                </div>
                                <div class="btn-group btn-group-sm">
                                    <button asp-action="Delete" asp-controller="CustomerProduct" asp-route-id="@customerP.Id" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <div><p>No Customers Avaliable at the moment</p></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="modalhere"></div>
    @await Html.PartialAsync("MPcreate",new CustomerProducts())
    @await Html.PartialAsync("QuickEdit",new CustomerProducts())
   <script>
       function AddCustomerProduct()
       {
           $.ajax({
               type: "Get",
                url: "CustomerProduct/mpcreate",
               success:function(result){
                    $("#modalhere").html(result);
                    $("#AddCustomerProduct").modal(show);
               }
           });
       }
   </script>


    

