@model store1.Models.CustomerProducts

@Model List<CustomerProductModel>


    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Details</title>
        <style>
            tr {
                margin: 5px
            }
        </style>
    </head>
    <body>
        <div class="modal fade" id="ShowDetails" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">create product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
        @if (Model != null && Model.Customer.type == "Top")
        {
            <h3 class="h-25">Customer Name</h3>
            <p class="p-1">@Html.DisplayFor(modelitem=>Model.Customer.Name)</p>
            <h3 class="h-25">Customer type</h3>
            <p>@Html.DisplayFor(modelitem=>Model.Customer.type)</p>





            <br />
            <table class="table table-responsive table-hover ">
                <tr>
                    <th>Product name</th>
                    <th>Product Sale price</th>
                </tr>
                <tr>

                    <td>@Html.DisplayFor(product=>Model.Product.Name)</td>
                    <td>@Html.DisplayFor(product=>Model.Product.wholesalePrice)</td>

                </tr>

            </table>
        }

        else
        {
            <h3 class="h-25">Customer Name</h3>
            <p class="p-1">@Html.DisplayFor(modelitem=>Model.Customer.Name)</p>
            <h3 class="h-25">Customer type</h3>
            <p>@Html.DisplayFor(modelitem=>Model.Customer.type)</p>
            <br />
            <table class="table table-responsive table-hover ">
                <tr>
                    <th>Product name</th>
                    <th>Product price</th>
                </tr>
                <tr>

                    <td>@Html.DisplayFor(product=>Model.Product.Name)</td>
                    <td>@Html.DisplayFor(product=>Model.Product.wholesalePrice)</td>

                </tr>

            </table>
        }
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
