@model List<store1.Models.MViews.CustomerViewModel>

@{
    ViewData["Title"] = "CustomerIndex";
    var errorMessage = ViewData["errorMessage"]?.ToString();

}
@Model List<CustomerModel>

    @if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! : </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
    <form>
        <button asp-action="Create" asp-controller="Customer" class="btn btn-primary">Add Customer</button>
    </form>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Name</td>
                        <td>@customer.type</td>
                        <td>
                            <form>
                                <div class="btn-group btn-group-sm">
                                    <button asp-action="Update" asp-controller="Customer" asp-route-id="@customer.Id" class="btn btn-primary">Edit</button>


                                </div>
                                <div class="btn-group btn-group-sm">
                                    <button asp-action="Delete" asp-controller="Customer" asp-route-id="@customer.Id" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <div><p>No Customers Avaliable at the moment</p></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
